/* game cards */
.card:hover {
    width: calc(13rem * 1.05);
    /* Increase the width of the card by 5% */
    height: calc(20rem * 1.05);
    /* Increase the height of the card by 5% */
}

.card:hover .card-img-top {
    transform: scale(1.05);
    /* Increase the size of the image by 5% */
}

.card-img-top {
    border-radius: 4%;
}

/* game cards end */