/* ===== Game card ===== */
.card:hover {
    width: calc(13rem * 1.05);
    /* Increase the width of the card by 5% */
    height: calc(18rem * 1.05);
    /* Increase the height of the card by 5% */
}

.card:hover .card-img-top {
    transform: scale(1.05);
    /* Increase the size of the image by 5% */
}

.card-img-top {
    border-radius: 3%;
}

.card-link {
    text-decoration: none;
}

/* game cards end */


h1 {
    border-bottom: 1px solid #bbb;
    padding: 0 0 10px 0;
    margin: 10px 0 20px 0;
}

.sidebar .menu-bar .menu-links {
    padding-left: 0%;
}