{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="{% static "css/base.css" %}" rel="stylesheet">
    {% comment %} <link href="{% static "css/style.css" %}" rel="stylesheet"> {% endcomment %}

  </head>
  <body>

    <div class="container-fluid">
      {% include "navbar_nav.html" %}


        <div class="row">
          <!-- Main content-->
          <div class="col-lg-10 col-sm-12 main-content p-5 mt-5 bg-light " style="overflow: hidden;">
                <div>
                  {% block content %}
                  {% endblock content%}
                </div>
              </div>
              
          <!-- Right sidebar-->
            {% include "sidebar.html" %}

              </div>
          </div>
          
    </div>


    {% comment %} {% include "footer.html" %} {% endcomment %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html> 