{% load static %}

<nav class="navbar navbar-expand-lg fixed-top bg-light  shadow-sm" style="">
    <div class="container-fluid">
      <a class="navbar-brand text-dark ms-5" href="#">Charicha</a>

      <div class="collapse navbar-collapse" id="navbarScroll">
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav me-auto my-2 my-lg-0 " style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active text-dark" aria-current="page" href="{% url "home" %}" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="{% url "game-list" %}">Spaces</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link text-dark" href="{% url "tournament" %}">Tournament</a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto my-2 my-lg-0  me-4" style="--bs-scroll-height: 100px;">
            <li class="nav-item dropdown ms-auto">
                <a class="nav-link text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{request.user.username}}
                    <img src="{{user.profile.image.url}}" alt="" class="rounded-circle" width="40" height="40">
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item text-dark" href="{% url "profile" %}">My Profile</a></li>
                  <li><a class="dropdown-item text-dark" href="#">Settings</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item text-dark" href="{% url "account_logout" %}">Logout</a></li>
                </ul>
              </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>

