{% load static %}
<!-- navbar -->

<nav class="navbar navbar-expand-lg fixed-top bg-light shadow-sm">
    <div class="container-fluid">
        <!-- Left side of the navbar -->
        <div class="d-flex align-items-center">
            <a class="navbar-brand text-dark ms-5" href="#">Charicha</a>

        {% if request.user.is_authenticated %}
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active text-dark" aria-current="page" href="{% url "home" %}" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url "game-list" %}">Spaces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url "tournament" %}">Tournament</a>
                </li>
            </ul>
        </div>
        
        <!-- Right side of the navbar -->
        <div class="d-flex align-items-center">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{request.user.username}}
                        <img src="{{user.profile.image.url}}" alt="" class="rounded-circle" width="40" height="40">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-center">
                        <li><a class="dropdown-item text-dark" href="{% url "profile" %}">My Profile</a></li>
                        <li><a class="dropdown-item text-dark" href="#">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-dark" href="{% url "account_logout" %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        {% endif %}

    </div>
</nav>