{% extends "base.html" %}
{% load static %}



{% block content %}

<style>
  
.profile-container {
  position: relative;
  width: 100%;
}


.profile-image {
  position: absolute;
  top: 50%;
  {% comment %} left: 50%; {% endcomment %}
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45vh;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  filter: brightness(60%);
}

.profile-info {
  position: absolute;
  top: 450px;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  {% comment %} display: flex; {% endcomment %}
  align-items: center;
  justify-content: center;
}

.username {
  margin: 0 0 10px;
  font-size: 1.5rem;
}

.bio {
  margin: 0;
  font-size: 0.9rem;
}
</style>

{% comment %} <div class="container-fluid"> {% endcomment %}

  <div class="profile-container">
    <img src="{{user.profile.cover_photo.url}}" alt="Profile cover" class="profile-cover">
    <img src="{{user.profile.image.url}}" alt="Profile Image" class="profile-image">
    <div class="profile-info">
      <h2 class="username">{{profile.user.username}}</h1>
      <p class="bio">{{profile.bio}}</p>
    </div>
  </div>
</div>

<a href="{% url "update_profile"  %}">Update</a>


{% endblock content %}
